# Dependencies
node_modules/
**/node_modules/
.pnpm-store

# Build output
dist
build
.vite

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS
.vscode
.idea
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Caches
.cache
.parcel-cache
.eslintcache
.turbo
